<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:; script-src 'self'">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Achope Data Service</title>
</head>
<body>
    <header>
        <h1>Achope Data Service</h1>
    </header>
    <main>
        <section class="pricing-table">
            <h2>Pricing</h2>
            <table>
                <!-- Price list table content -->
                <thead>
                    <tr>
                        <th>Network</th>
                        <th>1GB</th>
                        <th>2GB</th>
                        <th>3GB</th>
                        <th>5GB</th>
                        <th>10GB</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9MOBILE</td>
                        <td>$250</td>
                        <td>$420</td>
                        <td>$580</td>
                        <td>$740</td>
                        <td>$1900</td>
                    </tr>
                    <tr>
                        <td>AIRTEL</td>
                        <td>$300</td>
                        <td>$550</td>
                        <td>$950</td>
                        <td>$1200</td>
                        <td>$2250</td>
                    </tr>
                    <tr>
                        <td>GLO</td>
                        <td>$300</td>
                        <td>$550</td>
                        <td>$800</td>
                        <td>$1200</td>
                        <td>$2250</td>
                    </tr>
                    <tr>
                        <td>MTN</td>
                        <td>$300</td>
                        <td>$550</td>
                        <td>$800</td>
                        <td>$1400</td>
                        <td>$2500</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <section class="order-form">
            <h2>Place an Order</h2>
            <form id="orderForm">
                <label for="network">Select Network:</label>
                <select id="network" name="network">
                    <option value="9MOBILE">9MOBILE</option>
                    <option value="AIRTEL">AIRTEL</option>
                    <option value="GLO">GLO</option>
                    <option value="MTN">MTN</option>
                </select>
                <br>
                <label for="amount">Select Amount:</label>
                <select id="amount" name="amount"></select>
                <br>
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="^\+234[0-9]{10}$" required />
                <br>
                <div class="error-message" id="errorMessage"></div>
                <button type="button" id="submitOrder">Submit Order</button>
            </form>
        </section>
        <div class="payment-details popup-container" id="popupContainer" style="display: none;">
            <h3>Payment Details</h3>
            <p><strong>Network:</strong> ${network}</p>
            <p><strong>Amount:</strong> ₦${amount}</p>
            <p><strong>Data Value:</strong> ${dataValue}</p>
            <p><strong>Phone Number:</strong> ${phoneNumber}</p>
        </div>
       <div class="paystack-form popup-container" style="display: none;">
            <h3>Complete Payment</h3>
            <form id="paymentForm">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email-address" placeholder="Enter your email" required />
                </div>
                <br>
                <div class="form-submit">
                    <button type="button" id="payButton"> Pay </button>
                </div>
            </form>
        </div>
        <div class="button-space"></div>
        <button id="closePopup">Close</button>
    </main>
    <footer>
        <p>&copy; 2023 Achope Data Service. All rights reserved.</p>
    </footer>
    <script src="/js/scripts3.js"></script>
</body>
</html>